header {
	position: fixed;
	top: 1vh;
	right: 1vh;
	border-radius: 20px;
	padding: 10px;
	.header-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.header-inner-col {
			.header-inner-logo {
				cursor: pointer;
				h2 {
					line-height: 1;
					margin: 0;
					font-size: 1.5rem;
				}
			}
		}
	}
	// hamburger menu
	.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		.active {
			transform: rotate(180deg);
		}
	}
	.line {
		fill: none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke: #000;
		stroke-width: 3;
		stroke-linecap: round;
	}

	.ham5 .top {
		stroke-dasharray: 40 82;
	}
	.ham5 .bottom {
		stroke-dasharray: 40 82;
	}
	.ham5.active .top {
		stroke-dasharray: 14 82;
		stroke-dashoffset: -72px;
	}
	.ham5.active .bottom {
		stroke-dasharray: 14 82;
		stroke-dashoffset: -72px;
	}

	// slide out menu
	.slide-out-menu {
		position: fixed;
		top: 15vh;
		right: 3vw;
		display: flex;
		flex-direction: column;
		gap: 2vh;

		a {
			opacity: 0;
		}
	}
}
